.user-engagement-interface {
    min-height: 85vh;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.user-mode-navigations {
    padding: 0;
    display: flex;
}

.user-mode-navigations > li > .interactive-links {
    margin: 5px;
}

.vendor-info > input,
.vendor-info > textarea {
    display: block;
    margin-bottom: 10px;
}

.vendor-info > input {
    height: 35px;
    width: 250px;
}

.vendor-buttons {
    background-color: #FF4900;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px;
    width: 250px;
}

.profile-img {
    margin-left: 40px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}