.user-engagement-interface {
    min-height: 85vh;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.user-mode-navigations {
    padding: 0;
    display: flex;
}

.user-mode-navigations > li > .interactive-links {
    margin: 5px;
}