#user-mode-navigations {
    padding: 30px;
}

#user-mode-navigations ul {
    padding: 0;
}

#user-mode-navigations ul li {
    list-style: none;
    display: inline-block;
}

#user-mode-navigations ul li a {
    text-decoration: none;
}

article h1 {
    margin: 15px 0;
    padding-left: 20px;
}

article h3 {
    margin: 15px 0;
    padding-left: 20px;
}

#consumer-items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}