#item-equipment {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}

.card-link {
    text-decoration: none;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

.card {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

.card:hover {
    border: 1px solid #000;
}

.card ul {
    padding: 0;
    display: inline-block;
}

.card ul li {
    list-style: none;
    display: block;
    padding: 10px;
    color: #000;
}